html {
  background: url(http://img3.themebin.com/1920x1080/pier_1080.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: system-ui;
}

#intro {
  margin: auto;
  border-style: none;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: #fff;
 
}

navbar {
  margin: auto;
  position: relative;
  display: flex;
  color: #fff;
  width: 100%;
  height: 15px;
  border-style: none;
  bottom: 0;
}

navbar ul {
  margin: auto;
  border-style: ;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.4);
  /*dim the background*/
}

navbar li {
  display: inline-block;
  margin: 0 2em 0 2em;
}

navbar a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ff9900;
}

.background{
  background-color: #7AC7F9;
}

.footer{
  background-color: #7AC7F9;
}